/*always*/
.mat-grid-tile {
  background: black;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

#tile-income {
  background: linear-gradient(0deg, rgba(0, 50, 0, 0.5), rgba(0, 100, 0, 0.5)), url("src/assets/profit.svg");
  background-size: contain;
}

#tile-expenses {
  background: linear-gradient(0deg, rgba(50, 0, 0, 0.5), rgba(100, 0, 0, 0.5)), url("src/assets/loss.svg");
  background-size: contain;
}

#tile-profit {
  background: linear-gradient(0deg, rgba(0, 0, 50, 0.5), rgba(0, 0, 100, 0.5)), url("src/assets/profit.svg");
  background-size: cover;
}

/*mobile*/
@media (max-width: 425px) {

  .container {
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .card {
    width: 30% !important;
  }

  .graph {
    display: none;
  }

}

/*small pc*/
@media (max-width: 1024px) {

}

/*pc*/
@media (min-width: 1025px) {

}

.content {
  -webkit-box-shadow: 8px 8px 5px 0px rgba(214, 214, 214, 0.75);
  -moz-box-shadow: 8px 8px 5px 0px rgba(214, 214, 214, 0.75);
  box-shadow: 8px 8px 5px 0px rgba(214, 214, 214, 0.75);
}
