<div class="container">
  <div class="content">
    <div class="flex-container">
      <div class="flex-content">
        <div class="tile" id="income-tile">
          <h1>Income</h1>
        </div>
      </div>
      <div class="flex-content">
        <div class="tile" id="expenses-tile">
          <h1>Expenses</h1>
        </div>
      </div>
      <div class="flex-content">
        <div class="tile" id="profit-tile">
          <h1>Profit</h1>
        </div>
      </div>
    </div>

    <div class="graph">graph</div>
  </div>
</div>
