<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item
         *ngIf="auth.userProfile$ | async as profile"
         routerLink="/profile">
        <img style="border-radius: 50%; padding: 0" class="icon" src="{{profile.picture}}">
        <span style="padding-left: 10px" class="label">Profile</span>
      </a>
      <a mat-list-item
         *ngIf="auth.loggedIn"
         routerLink="/income">
        <mat-icon class="icon">trending_up</mat-icon>
        <span class="label">Income</span>
      </a>
      <a mat-list-item
         *ngIf="auth.loggedIn"
         routerLink="/expenses">
        <mat-icon class="icon">trending_down</mat-icon>
        <span class="label">Expenses</span>
      </a>
      <a mat-list-item
         *ngIf="auth.loggedIn"
         routerLink="/overview">
        <mat-icon class="icon">restore_page</mat-icon>
        <span class="label">Overview</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/dashboard">
          Pocket accountant
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a
              *ngIf="auth.loggedIn"
              routerLink="/income">
              <mat-icon class="icon">trending_up</mat-icon>
              <span class="label">Income</span>
            </a>
          </li>
          <li>
            <a
              *ngIf="auth.loggedIn"
              routerLink="/expenses">
              <mat-icon class="icon">trending_down</mat-icon>
              <span class="label">Expenses</span>
            </a>
          </li>
          <li>
            <a
              *ngIf="auth.loggedIn"
              routerLink="/overview">
              <mat-icon class="icon">restore_page</mat-icon>
              <span class="label">Overview</span>
            </a>
          </li>
          <li style="width: min-content">
            <a
              *ngIf="auth.userProfile$ | async as profile"
              routerLink="/profile">
              <img style="border-radius: 50%; padding: 0; width: 30px" class="icon" src="{{profile.picture}}">
              <span style="padding-left: 10px" class="label">{{profile.email}}</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
