.example-card {
  display: inline-block;
  margin: 8px 8px 8px 0;
}

.example-header-image {
  background-image: url('src/assets/baseline_trending_down_black_18dp.png');
  background-size: cover;
}

@media (max-width: 767px) {
  .example-card {
    width: 90%;
    margin: 8px 8px 8px 0;
  }
}
