<div>
  <br>
  <div class="container">
    <div class="container">
      <div class="content" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-around center"
           fxLayoutGap="20px">
        <div class="blocks" *ngIf="auth.loggedIn">

        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="content" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>My services</h3>
            <div style="position: absolute; right: 1em; top: 1em;" class="blocks" *ngIf="auth.loggedIn">
              <button (click)="openDialog()" button="submit" mat-raised-button color="primary">
                <mat-icon>add</mat-icon>
                Add service
              </button>
            </div>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="data">
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="total">
                  <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tax">
                  <mat-header-cell *matHeaderCellDef>Tax</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.tax}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="subtotal">
                  <mat-header-cell *matHeaderCellDef>Price (no tax)</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.subtotal}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef>Time (in hours)</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
                </ng-container>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
